*{  
    box-sizing: border-box;
}
.cards{
    border: 1px solid  black;
    max-width: 600px;
    position: relative;
    top: 20px;
    left: 400px;
    margin: 10px;
    border-radius: 5px;
}
.cardDiv{
    margin: 15px;
}
.green{
    color: green;
}
.red{
    color: red;
}
h1{
    text-align: center;
    text-decoration: underline 2px black;
    margin: 30px;
}